.containerD {
  background-image: url(../../Imagens/bgTest10.jpg);
  background-size: contain;
  background-repeat: repeat;
}

.contentD {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionD{
  width: 70%;
}

.headerD {
  background-image: url(../../Imagens/bgTest9.jpg);
  width: 100%;
  height: 34vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.cardsD {
  gap: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.infoD{
  display: grid;
  grid-template-columns: max-content;
  height: 50vh;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}