.containerH {
    width: 100%;
    height: 100vh;
    background: #000;
    background-Image: url();
    background-size: contain;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  .contentH {
    background: linear-gradient(
      140deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(5px);
    border-radius: 8px;
    width: 70%;
    height: 80vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  }

  .headerH{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  
  .navBarH {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;

    ul{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      list-style: none;
      text-decoration: none;

      li{
        color:#fff;
      }
    }
  }

  .contextH{
    width:40%;
    display: flex;
    flex-direction: column;

  }

