.containerH {
  width: 100%;
  height: 100vh;
  background-image: url(../../Imagens/bgLogin.png);
  background-size: contain;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.contentH {
  background: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(5px);
  border-radius: 20px;
  width: 70%;
  height: 80vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoH {
  font-family: knewave,sans-serif !important;
  font-size: 30px;
  font-weight: 100;
  color: #fff;
}
.headerH {
  width: 79%;
  height: 16%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.navBarH {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 14px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
    text-decoration: none;

    li {
      color: #fff;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: #ff5151;
      }
    }
  }
}

h1{
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 60px;
  color: #ffffff;
}

.HeroH {
  color: #fff;
  width: 80%;
  height: 50%;
  display: flex;
  margin: 60px 0;
  flex-direction: row;
  justify-content: space-between;
}
.col1{
  width: 900%;
}

.col2{
width: 10%;
}

.descriptionH {
  width: 80%;
}

.btnH {
  margin-top: 60px;

  .btnContratar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 20%;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    background: transparent;
    border-radius: 8px;
    border: 0;
    outline: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s;
  }

  .iconSeta {
    width: 24px;
  }
  :hover {
    background: rgba(0, 0, 57, 0.614);
  }
}
