.containerP {
  display: flex;
  flex-direction: row;
}

.portifolio {
  width: 100%;
  height: 100vh;
  background-image: url(../../Imagens/bgTest10.jpg);
  background-size: cover;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 2vw;

  .inputs-portifolio {
    background: linear-gradient(
      140deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(5px);
    border-radius: 8px;
    width: 40vw;
    height: 80vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 8vh 3vw;
    gap: 2vh;

    .inputs-1 {
      display: flex;
      flex-direction: row;
      white-space: nowrap;
      gap: 0.5vh 2vw;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
    }
    .inputs-2 {
      display: flex;
      flex-direction: row;
      white-space: nowrap;
      gap: 0.5vh 2vw;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;

      .select {
        display: flex;
        flex-direction: column;
        gap: 10px;
        select {
          width: 16vw;
          height: 5vh;
          border-radius: 8px;
          background-color: #fff;
          border: none;
          outline: none;
          color: #000;
          font-size: 16px;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          padding: 0 1vw;

          option {
            color: black;
            margin-top: 1rem;
          }
        }
      }
    }
    .buttonSalvar {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 10px;
      .salvar {
        background-color: rgb(41, 124, 2);
        backdrop-filter: blur(5px);
        border: none;
        height: 5vh;
        width: 10vw;
        cursor: pointer;
        border-radius: 8px;
        color: white;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

}
.uploadPhotos{
  margin-top: 20px;
}

.buttonUploado{
  width: 10vw;
  margin-left: 10px;
  background-color: rgb(229, 0, 0);
  backdrop-filter: blur(5px);
  border: none;
  height: 5vh;
  width: 10vw;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.Instagram{
  width: 100%;
}