.p {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    min-height: 3vh;
    text-align: start;
    padding-left: 1vw;
    padding-right: 1vw;

    padding-top: 1vh;

    label {
  
        padding-left: 0.5vw;
        padding-bottom: 0.5vh;
    }
    p {
        color: white;
        font-size: 18px;
    }
}
