.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  color: #fff;
  font-size: 18px;
}

input {
  border: 0;
  background: #fffffff4;
  border-radius: 4px;
  outline: 0;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 14px;
}

.small {
  width: 13.5vw;
  height: 6vh;
}
.medium {
  width: 22vw;
  height: 6vh;
}

.large {
  width: 28vw;
  height: 6vh;
}
