.cardC {
  background: linear-gradient(
    140deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(5px);
  border-radius: 8px;
  width: 240px;
  height: 48vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.nameC {
  font-size: 18px;
  font-weight: 900;
}

.estiloC {
  font-weight: 500;
  color: #b4b4b4e0;
}
.contentC {
  width: 180px;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.wrapC {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fotoUser {
  img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
  }
}

.btnC {
  margin: 0 0 0 110px;

  .btnCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 110px;
    height: 30px;
    padding: 6px;
    font-size: 14px;
    background: transparent;
    border-radius: 8px;
    border: 0;
    outline: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
  }

  .iconSeta {
    width: 24px;
  }
  :hover {
    background: rgb(0, 0, 57);
  }
}

.barraMusic {
  width: 140px;
}
